<!-- <div class="cont">
  <nav class="navbar">
        <strong><i><a class="navbar-brand" href="#">Bromide</a></i></strong></nav>
        <br/>
        <br/>
        <br/>
        <div class="all">
        <div class="one"><a routerLink="/home">Home</a></div>
        <div class="two"><a routerLink="/forums">Forums</a></div>
        <div class="three"><a routerLink="/blog">Blog</a></div>
        <div class="four"><p>ContactUs</p></div>
        </div>
        </div>
    <!-- <header>
        <div class="container">
        <div class="logo"><a href="http://localhost:4200/"><img width="43" height="43" src="https://findicons.com/files/icons/2711/free_icons_for_windows8_metro/128/rock.png"></a><h2>Ther<strong>Ion</strong></h2></div>
        <br/>
        <br/>
        <br/>
        <div class="one"><a routerLink="/home">Home</a></div> --> <!--home route link
        <div class="all">
        <div class="one"><a routerLink="/home">Home</a></div>
        <div class="two"><a routerLink="/forums">Forums</a></div>
        <div class="three"><a routerLink="/blog">Blog</a></div>
        <div class="four"><p>ContactUs</p></div>
        </div>
      </div>
      <br><br><br>
    </header> --> 
    <div class="new">
      <div class="but">
          <button mat-icon-button color="purple" aria-label="Example icon button with a home icon">
              <mat-icon>pie_chart</mat-icon></button>
  
          <button mat-raised-button color="purple"><strong><i>Bromide coffee</i></strong></button>
      </div>
   <nav>
    <div class="all">
     <div class="Home"><a routerLink="/Home" routerLinkActive="active">Home</a></div> 
     <div class="blog"> <a routerLink="/Blog" routerLinkActive="active">Products</a></div>
      <div class="Contact "><a routerLink="/Contact" routerLinkActive="active">Contact Us</a></div>
      <div class="Forums"><a routerLink="/Forums" routerLinkActive="active">Forums</a></div>
      <!--<div class="search"><button mat-flat-button>	
          <mat-icon>search </mat-icon>
      </button>
  </div> -->
  </div>
   </nav>
  </div>
  