<form action=""[formGroup]="myForm">
    <!-- <form action=""[formGroup]="myForm"(ngSubmit)="onSubmit(myForm)"> -->
  <div class="container">
    
     <div class="card">
      <mat-form-field appearance="fill" style="width:750px">
        <input matInput type="title" placeholder="Enter Title" formControlName="textTitle">
        </mat-form-field>   
     </div>
     <div class="second">
      <div class="con">
          <mat-tab-group>
              <mat-tab label="Content"> 
                 <br><br>
                        <mat-form-field appearance="fill" style="width:800px">
                          <!-- <mat-label></mat-label> -->
                          <textarea matInput placeholder="Drop here..." Columns="30" Rows="14" formControlName="textInput">
                              Drop Here...
                          </textarea>
                        </mat-form-field>
              </mat-tab>
            </mat-tab-group><br>
            <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Submit</button>
      </div>
      
      <div class="sidebar">
        <!-- <form #myForm="ngForm" (ngSubmit) = "userLogin(myForm.value)"> -->
          <div class="author"><strong>Author*</strong><br>
              <mat-form-field appearance="fill">
                <input    type="text" placeholder="Enter name" matInput name="text"formControlName="author">
                </mat-form-field>
          </div> 
          <div class="date"><strong>Date*</strong><br>
          <mat-form-field appearance="fill">
            <input matInput type="date" placeholder="Enter date" formControlName="date">
            </mat-form-field>    
            </div>    
          <div class="category"><strong>Category</strong><br>
              <mat-form-field appearance="fill">
                <input matInput type="text" placeholder="Enter category" formControlName="category">
                </mat-form-field>
          </div>
          <div class="tag"><strong>Tag</strong>
              <br/>
              <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="" formControlName="tag">
                </mat-form-field>
              </div>
              <!-- </form> -->
       </div>
     </div>
   
  </div>
  </form>
      
  <!-- <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Dynamic Template</title>
      <link rel="stylesheet" href="forums.component.css" />
    </head>
      <div class="container">
      <form #myForm="ngForm" (ngSubmit) = "userLogin(myForm.value)"> 
        <br><br><br>
       <div class="left"><h1 class="one"><strong>Make us believe...</strong></h1> <using blog for giving routing>
        <br><br>
        <div class="text"><label>Content</label><br>
        <textarea rows = "5" cols = "190" name = "description">
          Enter details here...
       </textarea></div></div>
        <br><br><br>
        <div class="right"><div class="name"> <label>Author name*</label><br>
          <input type="text" placeholder="Enter name" name="name" ngModel></div>
          <br><br><br>
      <div class="date"><label>Post date*</label><br>
      <input type="date" placeholder="Enter date" name="date" ngModel></div>
      <br><br>
      <div class="category"><label>Category*</label><br>
      <input type="category" placeholder="Enter category" name="Category" ngModel></div>
      <br><br>
      <div class="tag"><label>Tags</label><br>
        <input type="name" placeholder="Enter category" name="Tags" ngModel></div>
        </div>
        <br><br>
      <div class="button"><button type="submit">submit</button></div>
       </form>
       </div>
       </html> -->
  
       
  